@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

/* VARIABLES */
:root {
  --rosa-claro: #ffccd5;
  --rosa-oscuro: #ff758f;
  --rosa-principal: #a4133c;

  --font-claro: white;
  --font-oscuro: #a4133c;

  --font-base: 'Roboto Mono', monospace;
}

*,
*::before,
*::after,
html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-base);
  /* font-size: 62.5%; */
  color: var(--font-oscuro);
  background-color: var(--rosa-claro);
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contador{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 200px;
} 

.numero-input{
  width: 100%;
  border-radius: 25px;
  padding: .8rem;
  margin: 1.4rem;
  font-size: 3rem;
  text-align: center;
  background-color: var(--rosa-principal);
  color: var(--font-claro);
}

.btn-group{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.btn{
  border: none;
  background-color: var(--rosa-oscuro);
  color: var(--font-oscuro);
  font-size: inherit;
  cursor: pointer;
  border-radius: 25px;
  padding: .8rem;
  margin: .5rem;
  font-size: 1rem;
}

.btn-operacion{
  flex-grow: 1;
}
.btn-reset {
  flex-grow: 3;
}

.btn:hover,
.btn:active{
  transform: scale(1.1);
} 

@media only screen and (max-width: 300px) {
  .contador {
    width: 100%;
    height: 200px;
  }
  .btn {
    padding: .8rem;
    margin: .2rem;
  }
}